{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <header>
    </header>
    <main>
      <div>
        <h1>My Tasks</h1>
        {% if task_list %}
          <table>
            <thead>
              <tr>
                <th>Name<th>
                <th>Start date</th>
                <th>End date</th>
                <th>Is competed</th>
              </tr>
            </thead>
            <tbody>
              {% for task in task_list %}
              <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>
                <td>{{ task.is_completed|yesno:"Done"}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>You have no tasks</p>
        {% endif %}
      </div>
    </main>
  </body>
</html
