{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <head>
      <nav>
        <ul>
          <li>
            <a href="{% url 'create_project' %}">Create Project</a>
          </li>
        </ul>
      </nav>
    </head>
    <main>
      <div>
        <h1>My Projects</h1>
        {% if project_list.count == 0%}
          <p>You are not assigned to any projects</p>
        {% else %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of tasks</th>
            </tr>
          </thead>
          <tbody>
            {% for project in project_list %}
              <tr>
                <td><a href="{% url 'show_project' project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.tasks.all|length }}</td>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
    </main>
  </body>
</html
