{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <main>
      <div>
        <h1>{{ project.name }}</h1>
        <h2>Tasks</h2>
        <a href="{% url "create_task" %}">Create Task</a>
        {% if project.tasks.all|length > 0 %}
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
              </tr>
            </thead>
            <tbody>
              {% for task in project.tasks.all %}
                <tr>
                  <td>{{ task.name }}</td>
                  <td>{{ task.assignee }}</td>
                  <td>{{ task.start_date }}</td>
                  <td>{{ task.due_date }}</td>
                  <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
          <p>This project has no tasks</p>
        {% endif %}
      </div>
    </main>
  </body>
</html
